# Configurações do Banco de Dados
DB_HOST=localhost
DB_NAME=crm_terreiro
DB_USER=root
DB_PASS=

# Configurações da Aplicação
APP_NAME="CRM Terreiro"
APP_ENV=development
BASE_URL="http://localhost:8000"

# Configurações de Segurança
CSRF_TOKEN_SECRET="SUA_CHAVE_SECRETA_ALEATORIA_E_FORTE_AQUI" # Mude isto!
SESSION_COOKIE_NAME="CRM_Terreiro_Session"
