# Composer dependencies
/vendor/

# Environment variables
.env
.env.local
.env.*.local

# Storage files
/storage/uploads/
/storage/logs/

# IDE specific files
.idea/
.vscode/
*.iml
*.log
.DS_Store
Thumbs.db