RewriteEngine On

# Não processa arquivos e diretórios existentes
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Envia tudo para index.php
RewriteRule ^ index.php [L]
